
body {
    background-color: #000000;
    color: white;
}

.navbar {
    background-color: #000000 !important;
}

.nav-link:hover {
    color: #00FF80 !important;
}

.roho-card {
    background-color: #FFF97E;
    border: none;
    border-radius: 0.5rem;
    color: black;
}

.roho-btn {
    background-color: #00FF80;
    color: black;
    border: none;
}

.roho-btn:hover {
    background-color: #AE9CFF;
    color: black;
}

input,
select,
textarea {
    background-color: white;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

label {
    color: azure;
    font-weight: 500;
}

.roho-submit {
    background-color: #00FF80;;
    color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 30px;
    font-weight: 500;
}
.roho-submit:hover {
    background-color: #AE9CFF;
    color: black;
}

.card {
    border-radius: 20px;
    color: #000000;
    
}

.card label {
    color: #000000;
}