{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container my-5">
  <h2 class="text-white text-center mb-4">Book a Service</h2>

  <form method="POST" novalidate>
    {% csrf_token %}

    <div class="row">
        {% for field in form %}
          <div class="col-md-6 mb-3">
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>

        {% if field.name == 'start_date' or field.name == 'end_date' %}
          <div class="input-group">
            {{ field }}
            <span class="input-group-text">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        {% else %}
          {{ field }}
        {% endif %}

        {% if field.errors %}
          <div class="text-danger small">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}

   <div class="text-center mt-4">
    <button type="submit" class="btn roho-submit">Submit</button>
   </div>

  </form>
</div>

{% endblock %}