
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Roho</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <!-- Logo on the left -->
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Roho Logo" style="max-height: 50px;">
          </a>

          <!--Burger-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'book_service' %}">Book Now</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'my_bookings' %}">My Bookings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'register' %}">Sign Up</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    
    <!--Main content-->
    <main class="container my-4">
        {% block content %}
         <!-- Each page will be here -->
         {% endblock %}
    </main>

    <!--Foote<header class="container py-3">r-->
    <footer class="bg-dark text-white text-center py-3">
        <p>&copy; Ivona Rieger for Roho. . All rights reserved.</p>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
